<%= render "layouts/header" %>

<div class="row">
	<div class="offset-md-3 col-md-6 mt-5">	


		<div class="main_container">
			<%= image_tag("シャルル.png", class: "info_img") %>

			<div class="info_link mb-4">
				<h1>向坂</h1>
				<%= link_to "https://twitter.com/siesta_hh" do %>
					<i class="fab fa-twitter fa-lg mt-1"></i>
				<% end %>
			</div>

			<p>このサイトは、向坂（緋色）の作成したTRPG用シナリオ、キャラクター、イラストの備忘録です。</p>
			<p>システムは主にクトゥルフ神話TRPGを使用しています。</p>
			<p>基本的に公開する予定はありません。</p>

		</div>

	</div>
</div>